/* Table */
.table-list
{
    width: 100%;
    border-collapse: collapse;
}

.table-list tr
{
    border-bottom: 1px solid #1e5474;
}

.table-list tr th,
.table-list tr td
{
    padding: 10px 7px;
}

.kolom-nomor
{
    width: 20px;
    text-align: center;
}

.tengah
{
    text-align: center;
}

.kiri
{
    text-align: left;
}

.kanan
{
    text-align: right;
}

#frame-tambah
{
    margin-bottom: 10px;
    text-align: right;
}

.tombol-action
{
    background: #1e5474;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 3px;
    font-size: 9px;
}

.tombol-action:hover
{
    background: orangered;
}

#kiri
{
    width: 245px;
    height: auto;
    float: left;
}